#modal-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  flex-direction: row;
  justify-content: center;
}

#modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#modal-image {
  max-height: 70vh;
  zoom: 200%;
}

#modal-close-button {
  position: absolute;
  top: 10vh;
  right: 30px;
  color: #fff;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 25px;
}